<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-sociallabs" version="0.0.1">
    <name>SocialLabs plugin</name>

    <license>MIT</license>

    <keywords>cordova,android,sociallabs</keywords>
    <repo>https://github.com/PauMateu/cordova-plugin-sociallabs.git</repo>
    <issue>https://github.com/PauMateu/cordova-plugin-sociallabs/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  	<platform name="android">
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:name="com.gae.scaffolder.plugin.CallNotificationService"/>
			<receiver
				android:name="com.gae.scaffolder.plugin.CallNotificationActionReceiver"
				android:enabled="true">
				<intent-filter android:priority="999">
					<action android:name="ConstantApp.CALL_RECEIVE_ACTION" />
					<action android:name="ConstantApp.CALL_CANCEL_ACTION"/>
				</intent-filter>
			</receiver>
		</config-file>
    </platform>
</plugin>